third_party/
.vscode-server/
.vscode-test/
.vscode-test-web/
.vscode-test-web-*
.vscode-test-*
.vscode-test-*-*
out/
dist/
build/
node_modules/
*.js
*.js.map
*.tsbuildinfo
*.log
.DS_Store
.env
.env.local
.env.*.local
.history/
.terminal-suggest-unpacked/
.terminal-suggest-vscode/
.terminal-suggest-vscode-*/
.terminal-suggest-vscode-*-*/
.terminal-suggest-vscode-*-*-*/
.terminal-suggest-web/
.terminal-suggest-web-*/
.terminal-suggest-web-*-*/
.terminal-suggest-web-*-*-*/
.vscode/
.vscode-*/
.vscode-*-*/
.vscode-*-*-*/
*.code-workspace
.idea/
*.suo
*.ntvs*
*.njsproj